* {
  box-sizing: border-box;
  font-family: 'Consolas', monospace;
  font-size: 14px;
}

.container {
  background: whitesmoke;
  bottom: 0;
  color: #e3e3e3;
  display: block;
  left: 0;
  padding-top: 40px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.cc {
  background-color: #6e2b77;
  border-radius: 10px;
  display: block;
  height: 195px;
  width: 325px;
  text-transform: uppercase;
  margin: 60px auto;
  font-size: 30px;
}

.mastercard {
  font-weight: bold;
  font-size: 20px;
  margin-left: 100px;
}

.cc-number {
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 20px;
}

.cc-code {
  margin-right: 90px;
  margin-bottom: 50px;
  width: 30px;
  height: 30px;
}

.cc-name {
  margin-right: 170px;
  margin-bottom: 50px;
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
}
