* {
  box-sizing: border-box;
  font-family: 'Consolas', monospace;
  font-size: 14px;
}

.container {
  background: black;
  bottom: 0;
  color: #e3e3e3;
  display: block;
  left: 0;
  padding-top: 40px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.logo {
  margin-top: 50px;
}
